<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adopt a Puppy!</title>
  </head>
  <body>
    <h1>What kind of puppy are you looking for?</h1>
    <form method="POST" action="/">
      <p>Name: <input type="string" name="name"></p>
      <p>Breed: <input type="string" name="breed"></p>
      <p>Age: <input type="integer" name="age"></p>
      <input type="submit" id="submit">
    </form>

  </body>
</html>
